.vscode

null.d

# Visual Studio files
.vs
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user

# Build tools and scripts
**.exe
**.sh
premake5

# Output files
**/Makefile
**.d
obj/
bin/
vendor/glfw/bin/
vendor/glfw/obj/
vendor/glfw/build/
vendor/glad/bin/
vendor/glad/obj/
